<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="header item">
                    <a href="/" class="link">Home</a>

                </div>
                <a class="item">
                    About Us
                </a>
                <a class="item">
                    Jobs
                </a>
                <a class="item">
                    Locations
                </a>

            </div>

        </div>

        <br>
        <br>
        <br>


        <div class="ui container">
            <form action="/edit/<%= team._id %>" class="ui form" method="POST">
                <div class="three fields">
                    <div class="field">
                        <label for="label" class="ui header green">Enter Team's name</label>
                        <input type="text" name="name" placeholder="Enter Team's name" value="<%= team.name %>"  id="name">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter players name</label>
                        <input type="text" name="players" placeholder="Enter players name" value="<%= team.players %>" id="players">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Enter coach name</label>
                        <input type="text" name="coach" placeholder="Enter coach name" value="<%= team.coach %>" id="coach">
                    </div>
                </div>
          
            <div class="field fluid">
                <button type="submit" class="ui button fluid green">Save</button>
            </div>
            </form>
            <br><br>
        </div>
    </div>

    <script src="/js/semantic.min.js"></script>

</body>

</html>