<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="header item">
                    <a href="/" class="link">Home</a>

                </div>
                <a class="item">
                    About Us
                </a>
                <a class="item">
                    Jobs
                </a>
                <a class="item">
                    Locations
                </a>

            </div>

        </div>

        <br>
        <br>
        <br>


        <div class="ui container">
            <form action="/add" class="ui form" method="POST">
            <div class="ui three fields">
                <div class="field">
                    <label for="name" class="ui label green">Enter the Team's name</label>
                    <input type="text" name="name">
                </div>
                <div class="field">
                    <label for="players" class="ui  label black">Enter the Players name</label>
                    <input type="text" name="players">
                </div>
                <div class="field">
                    <label for="coach" class="ui label blue">Enter the Coach's name</label>
                    <input type="text" name="coach">
                </div>


            </div>
            <div class="ui fluids field">
                <input type="submit" value="Submit" class="ui button grey fluid">
             </div> 
            </form>
            <br><br>
            <table class="ui table">
                <thead>
                    <th>
                        Team Name
                    </th>
                    <th>Players</th>
                    <th>Coach</th>
                </thead>
            </table>
        </div>
    </div>

    <script src="/js/semantic.min.js"></script>

</body>

</html>